<!doctype html>
<meta charset="utf-8">
<title>Gene Regulatory Network Inference Tool</title>

<link rel="stylesheet" type="text/css" charset="UTF-8" href="{{ url_for('static', filename='style.css') }}">
<script src="{{ url_for('static', filename='jquery-3.1.1.slim.min.js') }}"></script>
<div class="page">
	<!-- <div id="tool-title"><a href="/"> <font size="5", face="Comic Sans MS">Gene Regulatory Network Inference Tool</font> </a></div> -->
	<img src="/static/logo.png" height="75">
	<div>
		{% block content %}{% endblock %}
	</div>
</div>