{% extends "__init__.html" %}
{% block content %}
<!--  -->
<div style="padding-top: 20px; text-align: center;">

<img src="/static/KOREAUniv_logo.png" style="width: 12%;  padding-bottom: 55px;padding-right: 5%;">
<img src="/static/logo.png" style="width: 55%; height: 180px">
<img src="/static/DMIS_logo.png" style="width: 12%; padding-bottom: 55px;padding-left: 5%;">

</div>
<script language="javascript">

$(function() {
 $("#content").tabs();
});

var oTbl;
//add Row 

function visibleButton(){
	oTbl = document.getElementById("totalTable");
	oTbl.style.visibility = "visible";
}

function hiddenButton(){
	oTbl = document.getElementById("totalTable");
	oTbl.style.visibility = "hidden";	
}

function insRow() {
  oTbl = document.getElementById("addTable");
  var oRow = oTbl.insertRow();
  oRow.onmouseover=function(){oTbl.clickedRowIndex=this.rowIndex}; //clickedRowIndex - check the position clicked
  var oCell = oRow.insertCell();

  //added Form Tag
  var frmTag = "Start Time Point: &nbsp;"
  frmTag += "<input type='textarea' name='addStartPoint' style='width:50px; height:15px;'> ";
  frmTag += "&nbsp; End Point: &nbsp;";
  frmTag += "<input type='textarea' name='addPeriod' style='width:50px; height:15px;'> ";
  frmTag += "<input type=button value='DELETE' onClick='removeRow()' style='cursor:hand'>";
  oCell.innerHTML = frmTag;
}
//Row delete
function removeRow() {
  oTbl.deleteRow(oTbl.clickedRowIndex);
}

function frmCheck()
{
  var frm = document.forms[0];
  var ret_Tag = "";
  var i =0;
  for(i = 0; i <= frm.elements.length - 1; i++ ){
     if( frm.elements[i].name == "addStartPoint" )
     {
         if( !frm.elements[i].value ){
             alert("Selected Period, Start Point Value is Empty!");
                 frm.elements[i].focus();
	 return;
          }
      }
      if( frm.elements[i].name == "addPeriod" )
     {
         if( !frm.elements[i].value ){
             alert("Selected Period, Period Value is Empty!");
                 frm.elements[i].focus();
	 return;
          }
      }
   }
 
 for(i = 0; i <= frm.elements.length - 1; i++ ){
     if( frm.elements[i].name == "addStartPoint" )
     {
         ret_Tag += frm.elements[i].value;
         ret_Tag += ","
      }
      
    }
    ret_Tag += ";"
   for(i = 0; i <= frm.elements.length - 1; i++ ){
     if( frm.elements[i].name == "addPeriod" )
     {
         ret_Tag += frm.elements[i].value;
         ret_Tag += ","
      }
      
    }
    oTbl = document.getElementById("use_for_selective");
	oTbl.value = ret_Tag;
 }

</script>
<!--  -->


<!-- main wrap-->
<!-- #tool-content -->
<div style="width: 45%; padding-left: 27.5%;padding-right: 27.5%">
  <div id="content">
            <ul>
               <li style="font-size: 14px;">
                  <a href="#analysis">Analysis</a>
               </li>
               <li style="font-size: 14px;">
                  <a href="#help">About</a>
               </li>
            </ul>
<div id="analysis" class="tab">

<form action="" method="post" enctype="multipart/form-data" id="file-uploader">

  <div style='display: inline-block;border:1px;'>  
    <div>Upload file here</div>
  	<div>
  			<input type="file" multiple name="timeseries_data"/>
         <!-- example field -->
         &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
         <span style="font-style: italic;">Example File:</span><a href="../static/IRMA_Switch-on_Average.txt">IRMA-SwitchOn</a>
  			<div id="option-div">
  				<div>Option</div>
  				<input type="radio" name="period_info" value="at_once" checked onClick="hiddenButton()">Analyze using whole time points 
          <!-- ntree field -->
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <span>Ntrees: </span>&nbsp;<input type="textarea" name="ntree_value" value="100" style="width: 80px">
          <br/>
  				<input type="radio" name="period_info" value="available" onClick="hiddenButton()">Time Points in One Period: &nbsp;<input type="textarea" name="period_info_value" value="4" style="width: 80px">
          <!-- threshold field -->
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <span>RIS Threshold: </span>&nbsp;<input type="textarea" name="threshold_value" value="0.25" style="width: 80px">
  				<br>
  				<input type="radio" name="period_info" value="selective" onClick="visibleButton()">User Specific<input type="textarea" id="use_for_selective" name="selective_form" style="visibility: hidden;">

  				<!-- <input type="button" onClick="frmCheck()"> -->

  <!--  -->
        <div id="totalTable" style='visibility: hidden;'>
          <table width="100%" border="0" cellpadding="0" cellspacing="0">
            Selective Period
              <tr>
              <td colspan="5" bgcolor="#FFFFFF" height="25" align="left">
              <input name="addButton" type="button" style="cursor:hand" onClick="insRow()" value="ADD">
             	<font color="#FF0000">*</font>Click to add more selective Period</td></tr>
      	    
      	    <tr>
      		    <table id="addTable" width="400" cellspacing="0" cellpadding="0" bgcolor="#FFFFFF" border="0"></table>
            </tr>
           </table>
         </div>
  <!--  -->
  				
  			</div>

        <button onClick="frmCheck()">Analyze</button>		
  	</div>
  </div>
  <!-- left side end -->
  <input type="textarea" id="widthid" name='width' value="0" style="display: none"></input>
  <input type="textarea" id="heightid" name='height' value="0" style="display: none"></input>
</form>
</div>
            <div id="help" class="tab">
               <span style="font-size: 25px;"> <img src="../static/logo.png"
                  style="width:80%; height: 80%;">
               </span>
            </div>
</div>
</div>

      <br />
      <div style="font-color: #333333; width: 100%">
         <font color="gray">
            <center><br/>
               *Best viewed in the latest
               version of Chrome (31+), Safari (5.1+), or IE (11+, w/ the compatibility
               option turned off). JavaScript and Flash required.
            </center>
         </font>
      </div>
<script language="javascript">
$(function() {
var totalHeight = window.innerHeight;
  var totalWidth = window.innerWidth;
  $('#widthid')[0].setAttribute("value",totalWidth);
  $('#heightid')[0].setAttribute("value",totalHeight);
  console.log(totalWidth);
  console.log(totalHeight);})
</script>
{% endblock %}

